.container {
  height: 200px;
  width: 180px;
  border: 2px solid blue;
  padding: 40px;
}
.center {
  text-align: center;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 45px 0;
}
.btn button {
  border-style: none;
  padding: 5px 10px;
  margin-right: 30px;
  border-radius: 5px;
  background: #30a7d7;
  color: #fff;
  font-size: 1.4em;
  width: 100px;
  transition: 1s all;
  cursor: pointer;
}

.btn button:hover {
  background: #B3A125;
}


.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 265px 265px 265px 265px;
  grid-gap: 27px;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li {
  display: inline;
}
nav {
  background: #545454;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

nav div {
  display: flex;
}

nav div,
nav a {
  color: #fff;
  font-size: 16px;
}
.Author{
  font-size:40px;
}